@import url('https://fonts.googleapis.com/css?family=Rajdhani:700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('../static/fonts/fonts.css');

body {
  margin: 0;
  padding: 0;
  font-family: 'Nanum Square', 'Material Icons';
  box-sizing: border-box;
  background: #E1E5E9;
}

*, *:before, *:after {
  box-sizing: inherit;
}